.select-cont {
  margin-bottom: 20px;
  display: flex;

  .select-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  label {
    font-size: 15px;
    font-weight: 400;
    color: #000;

    &:after {
      content: " *";
      color: #000;
      font-size: 18px;
    }
  }
  select {
    max-width: 300px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    min-height: 35px;
    outline: none;
    padding: 2px 5px;
  }
}
